/* .singer input[type="text"] {
  width: 200px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out; 
  margin-bottom: 5px;
}

.singer input[type="text"]:focus {
  border-color: #4CAF50; 
  margin-bottom: 5px;
}


.singer {
  margin-bottom: 10px;
}

.singersearch input[type="submit"] {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-bottom: 5px;
}

.singersearch input[type="submit"]:hover {
  background-color: #45a049; 
} */


/* .singer input[type="text"] {
  width: 200px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out; 
  margin-bottom: 5px;
}

.singer input[type="text"]:focus {
  border-color: #4CAF50; 
  margin-bottom: 5px;
} */

/* 
.album input[type="text"] {
  width: 200px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out; 
  margin-bottom: 5px;
  
}

.album input[type="text"]:focus {
  border-color: #4CAF50; 
} */




/* .singersearch input[type="submit"] {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-bottom: 5px;
}


.singersearch input[type="submit"]:hover {
  background-color: #45a049; 
} */


/* .albumsearch input[type="submit"] {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
}


.albumsearch input[type="submit"]:hover {
  background-color: #45a049; 
} */
.searchResults li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  background-color: #f6f6f6;
  transition: background-color 0.3s ease-in-out;
}

#searchContainer {
  display: flex;
  align-items: baseline; /* Align items at the baseline to keep them on the same line */
}

#trackSearchInput[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 5px;
}

#trackSearchButton{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}
#artistSearchInput[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 5px;
}

#artistSearchButton{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}
.album-container {
  display: flex;
  align-items: baseline; /* Align items at the baseline to keep them on the same line */
}

.album input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 5px;
}

.albumsearch input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.bpm, .pop, .energy {
  margin-bottom: 10px;
}

.bpmnum, .popnum, .energynum {
  margin-right: 10px;
  margin-bottom:10px;
  width: 200px;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 5px;
}
.popsubmit input[type = "submit"]{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);

}
.bpmsubmit input[type = "submit"]{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);

}
.energysubmit input[type = "submit"]{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);

}


.checksubmit input[type="submit"]{
  display: inline-block;
  margin-right : 50px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  
}
.checkreset input[type="reset"]{
  display: inline-block;
  margin-right : 50px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}
.checkbox {
  display: inline;
}


.pdropdown,
.jdropdown {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block; 
}


.dropdown-options {
  display: none;
  position: relative;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}


.pdropdown:hover .dropdown-options,
.jdropdown:hover .dropdown-options {
  display: block;
}
.playlist_btn input[type="submit"]{
  display: inline-block;
  margin-right : 50px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

/* .dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}


.dropdown-options a:hover {
  color: #646464;
  background-color: #ddd;
  border-radius: 5px;
}

.selected-option {
  margin-top: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: none;
} */


